@import 'normalize.scss';

// === mixins ===
@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}
// === / mixins ===

// === common ===

body {
    @include font-roboto();
    color: white;

    background-color: #07162A;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
// === / common ===

.container {
    width: 1180px;
    margin: 0 auto;
}

.football-team-wrapper {
    display: flex;
    padding-top: 34px;
}

.football-team {
    flex-grow: 1;

    .brand {
        text-align: center;
        &-icon {}
        
        &-name {
            margin-top: 23px;
            font-size: 40px;
            font-weight: 400;
            line-height: 47px;
        }
    }

    .players {
        margin-top: 10px;

        .player {
            display: flex;
            align-items: center;
            width: 70%;
            margin: 6px auto 0;
            background: linear-gradient(to right, #09182D, #162032);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 0;
                bottom: -6px;
                left: 0;
                background: linear-gradient(to right, #08182B, #1B4853, #061427);
            }

            &-num {
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                color: #CED2DB;
                padding: 20px 21px;
            }
            &-name {
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                color: #AAA092;
            }
        }
    }
}

.footbal-score {
    font-size: 100px;
    font-weight: bold;
    line-height: 117px;
}
